---
---

@import "{{ site.theme }}";

header h2 { width: 580px; margin-top: 0; margin-bottom: 0; font-size: 25px; font-weight: normal; line-height: 1.3; color: #9ddcff; letter-spacing: 0; }

.menu { position: relative; width: 940px; margin: 0 auto; }

.menu a { width: 540px; margin-top: 0.5em; margin-bottom: 0.2em; font-size: 28px; font-weight: normal; line-height: 1; color: #fff; letter-spacing: -1px; }

nav { padding-top:35px; }

.nav-item { margin-right: 1em; text-decoration: underline; }

.post-cover-image { margin-top: 1em;}

section#main-content { width: auto; }

section#main-content h1 a { color: #474747; }
