---
layout: default
---

<article class="post">
  <section id="header">
    <div class="post-cover-image">
      <img src="{{ '/assets/img/' | append: page.image | relative_url }}"
          alt="{{ page.image_alt }}" />
    </div>


    <h1>{{ page.title }}</h1>
    <p><small><b>Date: </b><em>{{ page.date | date: "%-d %b %Y %H:%M" }}</em></small></p>
    {% if page.tags %}
    <p><small><b>Tags: </b><em>{{ page.tags | join: "</em>, <em>" }}</em></small></p>
    {% endif %}
    <hr/>
  </section>

  <section id="content">
  {{content}}
  </section>

</article>